<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference</title>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/conference.css">
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="js/libs/cookie.js" defer></script>
    <script src="js/conference.js" defer></script>
</head>

<body>
    <div class="conference">
        <div class="conference__left">
            <div class="conference__videos">
                <div id="video-grid"></div>
            </div>
            <div class="conference__controls">
                <div class="conference__controls__button conference__settings_button">
                    <i class="fas fa-cog"></i>
                </div>
                <div class="conference__controls__button conference__mute_button disabled">
                    <i class="fas fa-microphone"></i>
                </div>
                <div class="conference__controls__button conference__video_button disabled">
                    <i class="fas fa-video"></i>
                </div>
                <div class="conference__controls__button conference__share_button disabled">
                    <i class="fas fa-external-link-alt"></i>
                </div>
                <div class="conference__controls__button conference__chat_button">
                    <i class="fas fa-comment"></i>
                </div>
                <div class="conference__controls__button conference__leave_button">
                    <i class="far fa-times-circle"></i>
                </div>
            </div>
        </div>
        <div class="conference__right">
            <div class="conference__header">
                <p>Чат</p>
            </div>
            <div class="conference__chat_window">
                <ul class="messages"></ul>
            </div>
            <div class="conference__message_container">
                <input class="chat_message" type="text" placeholder="Введите здесь сообщение...">
            </div>
        </div>
        <div class="modal hide">
            <div class="modal__header">
                <p>Введите ваше имя</p>
            </div>
            <div class="modal__body">
                <input class="modal__body_input" placeholder="Введите ваше имя" />
            </div>
            <div class="modal__footer">
                <button class="modal__footer_button btn-primary">Сохранить</button>
            </div>
        </div>
        <div class="overlay hide"></div>
    </div>
</body>

</html>